@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #375A50;
  --accent: #fcf9f3;
  --primary: #375A50;
  --primary-dark: #2a453d;
  --secondary: #fffbf4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
