@import "tailwindcss";

:root {
  --background: #EFEDEA;
  --foreground: #375A50;
  --accent: #E6D2FF;
  --primary: #375A50;
  --secondary: #EFEDEA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #375A50;
  --color-secondary: #EFEDEA;
  --color-accent: #E6D2FF;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
